div{
	border: 1px solid green;/* solid,dashed,dotted,double */
	width : 30%;
	margin : 2%; /*top, right, bottom, left */;
	padding : 2% 0% 2% 2%;
	text-align : center;
	box-shadow : 0px 8px 8px -0px #000; /* right bottom blur-ratio cubic-ratio color----> cubic ratio takes the shadow backwards.
 */


}